.home-container {
  height: 100vh;
  resize: both;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("public/external/bg-1500h.jpeg");
  background-attachment: fixed;
}
.home-content {
  flex: 0 0 auto;
  height: 100vh;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-sixunits);
}
.home-body {
  flex: 0 0 auto;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-oneandhalfunits);
  position: relative;
  max-width: 416;
  background: #e0e0e0b0;
  align-items: flex-start;
  border-radius: 20px;
  flex-direction: column;
  background-blend-mode: difference;
}
.home-text {
  width: 100%;
  text-align: center;
}
.home-ingress {
  text-align: center;
}
.home-contacts {
  left: 24px;
  bottom: 0px;
  position: absolute;
  margin-bottom: var(--dl-space-space-twounits);
}
.home-text03 {
  font-weight: 700;
}
@media(max-width: 1600px) {
  .home-contacts {
    margin-top: 200px;
  }
  .home-text03 {
    font-weight: 700;
  }
  .home-text06 {
    line-height: 1.5;
  }
  .home-text07 {
    line-height: 1.5;
  }
  .home-text09 {
    font-size: 0.7em;
  }
}
@media(max-width: 991px) {
  .home-content {
    width: 100%;
    position: relative;
  }
  .home-body {
    margin: auto;
  }
}
@media(max-width: 479px) {
  .home-content {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home-text03 {
    font-weight: 700;
  }
  .home-text06 {
    line-height: 1.5;
  }
  .home-text07 {
    line-height: 1.5;
  }
  .home-text09 {
    font-size: 0.7em;
  }
}
