.home-container {
  height: 100vh;
  resize: both;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: flex-start;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("public/external/bg-1500h.webp");
  background-attachment: fixed;
}
.home-content {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  padding-bottom: var(--dl-space-space-sixunits);
}
.home-body {
  flex: 0 0 auto;
  height: 100%;
  display: flex;
  padding: var(--dl-space-space-twounits);
  position: relative;
  max-width: 22em;
  min-width: 250px;
  background: #e0e0e0c0;
  box-shadow: 5px 5px 10px 0px #4e4646;
  align-items: flex-start;
  border-radius: 20px;
  flex-direction: column;
  background-blend-mode: difference;
}
.home-text {
  align-self: center;
}
.home-ingress {
  align-self: center;
  text-align: center;
}
.home-info {
  margin-top: 200px;
}
.home-text09 {
  margin-top: 200px;
}
.home-contacts {
  left: 24px;
  bottom: 0px;
  align-self: center;
  margin-bottom: var(--dl-space-space-twounits);
}
@media(max-width: 991px) {
  .home-body {
    margin: auto;
  }
}
@media(max-width: 767px) {
  .home-content {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
}
@media(max-width: 479px) {
  .home-content {
    min-width: 360px;
  }
  .home-body {
    width: 100%;
  }
  .home-text {
    font-size: 6em;
  }
  .home-ingress {
    font-size: 1.3em;
    align-self: center;
  }
  .home-info {
    margin-top: 150px;
  }
  .home-contacts {
    align-self: center;
  }
}
